nav {
    background-color: #002952; /* Background color of the header */
    padding: 0px; /* Spacing inside the header */
    display: flex;
  }

  .logo {
    display:flex;
    max-width: 262px !important;
    height: auto
  }



