.resetPasswordWrap {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.resetPasswordPageContent {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url('../assets/bg-pic-reset-password.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.InputFieldWrapResetPassword {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 60px 30px;
    border-radius: 5%;
    background-color: #00458A;
    border: 1px solid black;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.ResetPasswordText {
    font-size: xx-large;
    color: #CDAD5D;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.0px;
}

.inputAreaResetPassword {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .inputBoxLabelResetPassword {
    color: #CDAD5D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.0px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
  }

  .inputBoxResetPassword {
    border-radius: 50px;
    background: #D9D9D9;
    resize: none;
    outline-color: #CDAD5D;
    border: 0;
    font-size: x-large;
    padding-left: 10px;
    margin-top: 5px;
  }

  .inputButtonResetPassword {
    border-radius: 10px;
    background: #CDAD5D;
    font-size: x-large;
    color: #00458A;
    font-weight: 600;
    margin-top: 16px;
    padding: 5px 60px 5px 60px;
  }