body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #002952; /* Background color of the header */
  padding: 0px; /* Spacing inside the header */
  display: flex;
}

.logo img {
  max-width: 60%;
  height: auto
}


.leftPaneSignUp {
  height: 100%;
  background-color: #CDAD5D;
}

.rightPaneSignUp {
  height: 100%;
  background-color: #00458A;
}

.Welcometoamc {
  color: #002952;
text-align: center;
font-family: Inter;
font-size: 83px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 8.3px;
padding-top: 22px;
}

.inputBoxSignUp {
  border-radius: 50px;
  background: #D9D9D9;
}